#title {
 background-color: #f3c623;
 color: #fff;
}

.title-container {
 padding: 3% 15% 1%;
}

h1 {
 font-family: "Montserrat";
 font-weight: 900;
 font-size: 3.5rem;
 line-height: 1.5;
}

h2 {
 font-family: "Montserrat";
 font-weight: 900;
 font-size: 1.5rem;
}

h3 {
 font-family: "Montserrat";
 font-size: 1.5rem;
 font-weight: 900;
}

p {
 color: #8f8f8f;
}

.info-label {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
 padding: 0 0 4.5rem;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
}

.nav-item {
 padding: 0 18px;
}

.nav-link {
 font-size: 1.2rem;
 font-style: "Montserrat-Light";
}

/* create blog section */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* adding picture */
.imagePreview {
  width: 100%;
  height: 180px;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-click {
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  background-color: #844685;
  border-color: #af8baf;
  color: white;
}

.btn-click:hover {
  background-color: #af8baf;
  border-color: #af8baf;
}

.imgUp {
  margin-bottom: 15px;
  padding-left: 0px;
}


/* footer section */
.footer-section {
  background-color: #f3c623 ;
}

.social-icon {
 margin: 20px 10px;
}


@media (max-width: 1028px) {
 #title {
   text-align: center;
 }
 .icon-pic {
   width: 40%;
 }
}

.footer-div {
  margin: 0;
  padding: 1% 1%;
}
