.blog-avatar {
    position: relative;
    height: 210px;
    width: 210px;
    margin: auto;
    border-style: inset;
    border-width: 5px;
    border-radius: 5px;
    border-color: rgb(180, 180, 180);
}

.blog-text-field {
    background-color: rgba(255, 255, 255, 90%);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 21%;
    border-color: rgb(180, 180, 180);
    border-style: inset;
    border-width: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.blog-text-field h1 {
    text-align: center;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    color: rgba(0, 0, 0);
    font-size: 20px;
}

.blog-text-field h2 {
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%
    color: rgba(0, 0, 0);
    font-size: 16px;
}

.blog-text-field p {
    text-align: left;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    color: rgba(0, 0, 0);
    font-size: 20px;
    min-height: 457px;
}

.like-button button {
    padding: 10px 485px 10px 485px;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 5px;
    background-color: rgb(200, 30, 30);
    border-color: rgb(230, 230, 230);
    border-style: inset;
    border-width: 3px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.like-button button:hover {
    background-color: rgb(250, 30, 30);
    cursor: pointer;
}

.like-button button:active {
    transform: scale(0.99);
    cursor: pointer;
}